Log in

<form action="<%= session_url %>" method="post">
  <input type="text" name="session[user_name]">
  <input type="password" name="session[password]">
  <input type="submit" value="Log in">
</form>
